<!doctype html>
<html ng-app>
<!--    Tells AngularJS to be active for this portion of the page, in this case the entire page.-->
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
   <meta charset="utf-8">
   <meta http-equiv="Content-Type" content="text/html">
   <title>Github API Webapp using AngularJS | by Viscount</title>
</head>

<!--    behavior of content under this element will be managed using the GitHubCtrl class-->
<body ng-controller="GitHubCtrl">

    <div>
        <h1>Simple Github API Webapp</h1>
        <p>Enter a single Github username below and click the button to display profile info.</p>

        <input type="text" id="ghusername" ng-model="username" placeholder="Github username...">
        <a href="#" id="ghsubmitbtn" ng-click="getGitInfo()">Pull User Data</a>
            <!-- AngularJS directive ng-click is added to the button, which is just a styled link and set to call getGitInfo() -->

        <div id="ghapidata" class="clearfix"></div>
    </div>

<script>
   function GitHubCtrl($scope, $http) {
       $scope.getGitInfo = function() {
           $scope.userNotFound = false;
           $scope.loaded = false;

           $http.get("https://api.github.com/users/" + $scope.username)
              .success(function (data) {
                 $scope.user = data;
                 $scope.loaded = true;
              })
              .error(function () {
                 $scope.userNotFound = true;
              })
               }
   }
</script>

</body>
</html>
